
.container{
    background-color:white;
    margin: 10px 10px;
    height: 185px;
    padding-top: 0px 0px;
    margin: 10px 10px;
    box-sizing: border-box;
    align-items: center;
    
  
}

.button1{
    background-color:#337A5B;
    color: white;
     float: right;
     margin: 10px 50px 10px;
     border-radius: 5px;
     border-color: transparent;
     padding: 5px 20px;
     margin-top: -40px;
     margin-right: -70px;
   
}


.cactus-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: i;
}
.cactusPlant{
    display: flex;
    align-items: center;

}

.body {
    background-color: white;
    margin: 10px 10px;
    margin-top: 100px;
    padding-top: 10px 10px;
    color: #337A5B;
}

.button-container {
    display: flex;
  

}
.number{
    color: #337A5B;
}

.title{
  letter-spacing: 4%;
  font-size: 25px;
  text-align: center;
  height: 100px;
  color: #337A5B;
}
.cactus-plant{

}
.icon-container{
  background-color: transparent;
  border-radius: 10px;
  border-style: none;
  margin-left: 40px;
  cursor: pointer;
  padding: 5px 10px;
  position: absolute;
  margin-top: 10px;

 

}
.icon{
font-size: 20px;
border-radius: 7px;
margin-top: -50px;
}